<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Style/siteStyle.css">
	<title>USQ IT Students' Network</title>
  </head>
  <body>
    <section class="header">
        <div class="main-header">
        <a href="index.php"><img class="logo" src="Resources/Images/logo2.png" alt="USQITSN Logo" width="180" height="194"/></a>
            <h1 class="project-name">USQ IT Students' Network</h1>
        </div>
      <nav>
          <a href="/registration.php" class="btn">Become a Member</a>
          <a href="/login.php" class="btn">Login</a>
      </nav>
    </section>
